.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

shell/ampdb/*
!shell/ampdb/index.html
shell/blastdb/*
!shell/blastdb/index.html
shell/hmmerdb/*
!shell/hmmerdb/index.html
shell/run/*
!shell/run/index.html

assets/aln/*
!assets/aln/index.html
assets/family_feature/*
!assets/family_feature/index.html
assets/hmm/*
!assets/hmm/index.html
assets/logo/*
!assets/logo/index.html
assets/trees/*
!assets/trees/index.html
assets/trees_figures/*
!assets/trees_figures/index.html
assets/*.tsv
